/* Add CSS Styling */
.odd {
    background-color: #f8b9d4;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.third {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#fourth{
    background-color:#90EE90 ;
    font-size: 24px;
    font-weight: bold;
}